@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/Aeonik/Aeonik-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/Aeonik/Aeonik-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/Aeonik/Aeonik-Light.otf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/Aeonik/Aeonik-LightItalic.otf');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/Aeonik/Aeonik-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/Aeonik/Aeonik-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}
